@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: background-color 0.5s, color 0.5s;
}

.morning {
  background-image: url(../images/morning.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .text-title {
    color: #000;
  }
  .text-subtitle {
    color: #212529;
  }
  .btn-custom {
    background-color: #d63384;
  }

  .nav-pills .nav-link.active {
    background: #d63384;
    color: white;
    border: 6px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    font-weight: bold;
  }

  .nav-pills .nav-link {
    color: black;
    border: 6px solid rgba(214, 51, 132, 0.4);
    border-radius: 15px;
    font-weight: bold;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: var(--bs-orange);
    border-radius: 50%;
    display: inline-block;
  }

  .check-cs {
    color: #fd7e14;
  }

  .link {
    color: #000;
  }
}

.afternoon {
  background-image: url(../images/afternoon.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .text-title {
    color: #000;
  }
  .text-subtitle {
    color: #212529;
  }
  .btn-custom {
    background-color: #ffc107;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: var(--bs-blue);
    border-radius: 50%;
    display: inline-block;
  }

  .nav-pills .nav-link.active {
    background: #ffc107;
    color: white;
    border: 6px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    font-weight: bold;
  }

  .nav-pills .nav-link {
    color: black;
    border: 6px solid rgba(255, 193, 7, 0.4);
    border-radius: 15px;
    font-weight: bold;
  }

  .link {
    color: #000;
  }

  .check-cs {
    color: #0d6efd;
  }
}

.evening {
  background-image: url(../images/evening.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .text-title {
    color: #000;
  }
  .text-subtitle {
    color: #212529;
  }
  .btn-custom {
    background-color: #fd7e14;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: var(--bs-blue);
    border-radius: 50%;
    display: inline-block;
  }

  .nav-pills .nav-link.active {
    background: #fd7e14;
    color: white;
    border: 6px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    font-weight: bold;
  }

  .nav-pills .nav-link {
    color: #212529;
    border: 6px solid rgba(253, 126, 20, 0.4);
    border-radius: 15px;
    font-weight: bold;
  }

  .link {
    color: #000;
  }

  .check-cs {
    color: #0d6efd;
  }
}

.night {
  background-image: url(../images/night.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .text-title {
    color: #fff;
  }
  .text-subtitle {
    color: #adb5bd;
  }
  .btn-custom {
    background-color: #0d6efd;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: var(--bs-pink);
    border-radius: 50%;
    display: inline-block;
  }

  .nav-pills .nav-link.active {
    background: #0d6efd;
    color: white;
    border: 6px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    font-weight: bold;
  }

  .nav-pills .nav-link {
    color: white;
    border: 6px solid rgba(13, 110, 253, 0.4);
    border-radius: 15px;
    font-weight: bold;
  }

  .link {
    color: #fff;
  }

  .check-cs {
    color: #d63384;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  object-fit: cover;
}

.social-btn {
  transition: 0.3s;
  border-radius: 20px;
}

.contents .card .card-img-top {
  height: 400px;
  object-fit: cover;
}

.profile-photo img {
  width: 115px;
  height: 115px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 3px;
}

.card {
  backdrop-filter: blur(1rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}

.cb-1 {
  background-color: rgba(225, 225, 225, 0.1);
}

.cb-2 {
  background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.3)
  );
}

.dark-img {
  filter: brightness(90%);
}

.gap-custom {
  gap: 3rem !important;
}

@media (max-width: 480px) {
  .gap-custom {
    gap: 1.5rem !important;
  }
}

@media (min-width: 480px) and (max-width: 990px) {
  .contents .card .card-img-top {
    height: 500px;
    object-fit: cover;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .contents .card .card-img-top {
    height: 300px;
    object-fit: cover;
  }
}

.img-overlay {
  backdrop-filter: blur(1rem);
}

.alert-custom {
  width: max-content;
  background-color: rgba(225, 225, 225, 0.1);
  padding-right: 0.7rem !important;
  padding-left: 0.7rem !important;
}
